.company{
    border-radius: 5px;
    padding: 5px 10px;    
    margin:2px;
    p{
       padding: 0;
       margin: 0;
    }
    .catchPhase, .bs{
        text-align: left;
    }
    .header{
        text-align: left;
        font-weight: 500;
        font-size: 15px;
    }
  }
