.address{
    border-radius: 5px;
    padding: 5px 5px;
    margin:2px;    
    .line1 , .line2 {
        
        font-weight: 500;
        font-size: 14px;
    }
    p{
       padding: 0;
       margin: 0;
    }    
  }
